#mynetwork {
	position:relative;
	margin-left:30px;
	margin-top:30px;
	width: 90%;
	height: 500px;
	top:0px;
	bottom:0px;
	border: 2px solid black;
}

p {
  font-size: 30px;
  font-weight: bold;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  text-align:center;
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display:block;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: center;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #4CAF50;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #1569C7;
  color: white;
}

.button {
  display: inline-block;
  background: hsl(40, 100%, 60%);
  color: hsl(40, 100%, 20%);
  text-decoration: none;
  padding: 5px 10px;
}

[data-notifications] {
  position: relative;
}

[data-notifications]:after {
  content: attr(data-notifications);
  position: absolute;
  background: red;
  border-radius: 50%;
  display: inline-block;
  padding: 0.3em;
  color: #f2f2f2;
  right: -15px;
  top: -15px;
}